html { 
	height: 100% 
}
title{
	height: 100%
}
body { 
	height: 100%; 
	background-color: #dcdcdc 
}


div.title-name { 
	font-size: 25px;  
	text-align: center; 
	color: #ffffff ; 
	background-color: #5a5a5a; 
	padding-top: 25px; 
	padding-bottom: 25px
}