#btn_categories{
    padding: 5px;        
}

#btn_projects{
    padding: 5px;
}

body{
	min-width: 300px;
	min-height: 300px;
}

#btn_productivity_stats{
    padding: 5px;    
}

#btn_export_stats{
    position: absolute;
    bottom: 10%;
    left: 30%;
}